# ===============================
# Node / React / Vite
# ===============================

node_modules/
dist/
dist-ssr/
coverage/

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Vite cache
.vite/

# ===============================
# Firebase
# ===============================

.firebase/
.firebase/*
firebase-debug.log
firestore-debug.log
ui-debug.log

# ===============================
# OS Files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.tmp

# ===============================
# Misc
# ===============================

*.local
